<div class="container">

<br>

<%= paginate @movies %>

<div class="row justify-content-center">
<% @movies.each do |movie| %>
<div class="col-sm-6 col-md-3 m-3" style="border-radius: 8px">
  <div class="thumbnail" style="border-radius: 8px">
    <% if movie.image.attached? %>
      <%= link_to (image_tag movie.image, style: "border-radius: 8px;", width: "300", height: "450"), movie %>
    <% else %>
      <p>Image Missing</p>
    <% end %>
  </div>
  <div class="mx-auto" style="width: 200px;">
  <table>
      <tbody class="text-center">
          <tr>
            <td><strong><%= movie.title %></strong></td>
          </tr>
          <tr>
            <td><strong><%= movie.category %></strong></td>
          </tr>
          <tr>
            <td><strong>Rated:<%= movie.rating %></strong></td>
          </tr>
      </tbody>
    </table>
    </div>
</div>
<% end %>
</div>
</div>